.hd {
  text-align: left;
}
.statistics-table{
  position: absolute;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: scroll;
  min-width: 100%;
  z-index: 1;
  margin-left: -8px;
}
.statistics-table th,
.statistics-table td{
  border: 1px solid #dfddd9;
  height: 50px;
  padding: 0 10px;
}
.statistics-table.fixed-table{
  background: #ddd;
}
.statistics-table.fixed-table td{
  border: 1px solid transparent;
  height: 0px !important;
  visibility: hidden;
  overflow: hidden;
}
.statistics-table div.file{
  position: relative;
  margin-top: 15px;
  white-space: nowrap;
}
.statistics-table div.file a{
  color: #666;
}
.statistics-table div.file:before{
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../../img/member/sprites/form/feedback.png);
  background-position: -34px -369px;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-right: 5px;
}
.statistics-table div.file > div{
  background-color: rgba(91,91,91,0.9);
  color: #fff;
  position: absolute;
  padding: 8px;
  border-radius: 3px;
  display: none;
  text-align: left;
  white-space: nowrap;
  top: -55px;
  left: 50%;
}
.statistics-table tbody tr:first-child div.file > div{
  top: 20px;
}
.statistics-table div.file:last-child{
  margin: 0 0 15px 0;
}
.statistics-table div.file:first-child{
  margin-bottom: 0;
}
.statistics-table div.file:hover > div{
  display: inline-block;
}
#trade-detail .footer > div,
#statistics-box .footer > div{
  display: inline-block;
  vertical-align: middle;
}
#statistics-box .footer {
  background: #faf9f5;
  z-index: 3;
  padding-left: 12px;
  box-sizing:border-box;
  position: relative;
}
.statistics-table th{
  height: 30px;
  min-width: 100px;
  width: 90%;
  background: #2c96f2;
  color: #ffffff;
}
.statistics-table .seq{
  width: 10%;
  min-width: 34px;
  background: #2c96f2;
}
.statistics-table td{
  font-size: 14px;
}

.statistics-table td b{
  margin-right: 4px;
}

.button {
	width: 60px;
  height: 20px;
  text-align: center;
  border: 2px solid;
  border-radius: 5px;
  border-color: #FF9800;
  background-color: #ffc107;
  font-size: 14px;
  display: inline-block;
}

.button a {
	text-decoration: none;
}

.mybutton {
  width: 60px;
  height: 20px;
  text-align: center;
  border: 2px solid;
  border-radius: 5px;
  border-color: #FF9800;
  background-color: #FF9800;
  font-size: 12px;
  display: inline-block;
}

.mybutton a {
  text-decoration: none;
  color: #ffffff;
}

.mybutton-blue {
  width: 60px;
  height: 20px;
  text-align: center;
  border: 2px solid;
  border-radius: 5px;
  border-color: #2196f3;
  background-color: #2196f3;
  font-size: 12px;
  display: inline-block;
}

.mybutton-blue a {
  text-decoration: none;
  color: #ffffff;
}

.mynote {
  color:#ff5722;
  font-weight:normal;
  font-size:12px;
}

.btnCopy {
  cursor: pointer;
  background-color: #607D8B;
  border-radius: 6px;
  color: #fff;
  margin-right: 6px;
  border-color: #607D8B;
}

.btnCancel {
  cursor: pointer;
  background-color: #795548;
  border-radius: 6px;
  color: #fff;
  margin-right: 6px;
  border-color: #795548;
}

.btnOrder {
  cursor: pointer;
  background-color: #4caf50;
  border-radius: 6px;
  color: #fff;
  margin-right: 6px;
  border-color: #4caf50;
}

.btnOrderFull {
  cursor: pointer;
  background-color: #9e9e9ea8;
  border-radius: 6px;
  color: #fff;
  margin-right: 6px;
  border-color: #9e9e9ea8;
  float: right;
}

.spanMsg {
  font-size: 8px;
  color: red;
  display: none;
  float: right;
}

.div-msg-left {
  width:28%;
  margin-right: -4px;
  display: inline-block;
}

.div-msg-right {
  width:72%;
  display: inline-block;
}

.btnPassenger {
  cursor: pointer;
  background-color: #4caf50;
  border-radius: 6px;
  color: #fff;
  margin-right: 6px;
  border-color: #4caf50;
  float: right;
}

.inner-table {
  width: 106%;
  border: none;
  padding: 0px;
  margin-left: -10px;
}

.inner-table td {
  border: none;
  height: 20px;
}

.inner-td-first {
  padding: 0px;
  width: 26%;
}

.inner-td-second {
  padding-left: 4px;
  width: 74%;
}

.inner-td-colspan {
  text-align: right;
  width: 100%;
}

.form-label {
  font-size: 12px;
}

.adImg {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  padding-top: 100%;
}
.adImg2 {
  position:absolute;
  left: 0;
  top: 0;
  width:100%;
}

  /** dialog弹出框样式 **/
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
select { margin-bottom:12px; width:98%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:20px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; font-size: 12px;}